* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --teal-Primary: hsl(179, 62%, 43%);
  --green-Primary: hsl(71, 73%, 54%);
  --teal-Neutral: hsl(204, 43%, 93%);
  --gray-Neutral: hsl(218, 22%, 67%);
}
body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.main-container {
  background-color: var(--teal-Neutral);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .main-container {
    height: 100vh;
  }
}
.main-container .co-container {
  width: 650px;
  height: 450px;
  background-color: white;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
@media (max-width: 767px) {
  .main-container .co-container{
    display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-bottom: 50%;
   margin-left: 15px;
   margin-right: 15px;
   border-radius: 10px;
  }
}
.main-container .co-container .info-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 40px 40px 0px;
}
@media (max-width: 767px) {
  .main-container .co-container .info-1 {
    padding: 20px;
  }
}
.main-container .co-container .info-1 h2 {
  color: var(--teal-Primary);
  margin-bottom: 20px;
}
.main-container .co-container .info-1 h4 {
  color: var(--green-Primary);
  font-size: 17px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .main-container .co-container .info-1 h4  {
    font-size: 15px;
  }
}
.main-container .co-container .info-1 p {
  color: #49bdbb;
  line-height: 1.5;
}
.main-container .co-container .info-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: var(--teal-Primary);
  padding: 40px;
}
@media (max-width: 767px) {
  .main-container .co-container .info-2 {
    padding: 20px;
  }
}
.main-container .co-container .info-2 h3 {
  color: white;
  margin-bottom: 20px;
}
.main-container .co-container .info-2 span {
  color: white;
  font-weight: bold;
  font-size: 40px;
  position: relative;
}
.main-container .co-container .info-2 span::after {
  content: " per month";
  position: absolute;
  right: -90px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: hsl(204deg 43% 93% / 74%);
}
.main-container .co-container .info-2 p {
  color: white;
  margin-top: 5px;
  font-size: 14px;
}
.main-container .co-container .info-2 button {
  padding: 15px 80px;
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--green-Primary);
  color: white;
  border: none;
  border-radius: 6px;
}
@media (max-width: 767px ) {
  .main-container .co-container .info-2 button {
   
  }
}
.main-container .co-container .info-2 button:hover {
  background-color: hsl(71, 64%, 47%);
}
.main-container .co-container .info-3 {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #49bdbb;
  padding: 40px;
}
@media (max-width: 767px) {
  .main-container .co-container .info-3 {
    padding: 20px 130px 20px 20px;
  }
}
.main-container .co-container .info-3 h4 {
  color: white;
  margin-bottom: 20px;
}

.main-container .co-container .info-3 p {
  padding-right: 90px;
  font-size: 14px;
  color: var(--teal-Neutral);
}
